anaconda-2020.11-py38_0
anaconda-client=1.7.2=py38_0
anaconda-project=0.8.4=py_0
libgcc-ng==9.1.0 
hdf63c60_0
jupyter-book==0.8.3
ghp-import==1.0.0
# Need to pin this to avoid breaking change in 2.0.0
# https://github.com/executablebooks/jupyter-book/issues/1137
sphinxcontrib-bibtex==1.0.0
sphinxext-rediraffe==0.2.5
sphinx-multitoc-numbering==0.1.1
docopt==0.6.2
linkify-it-py==1.0.1
# numpy
# pandas
# scipy
# seaborn
# folium
# matplotlib
# scikit-learn
# ipywidgets
