anaconda-2020.11-py38_0
anaconda-client
anaconda-project
zope.interface
zope
zope.event
zope.interface
appscript
zstd
zeromq
zlib
libgcc-ng
hdf63c60_0
jupyter-book
ghp-import
appnope
python.app
xlwings
# Need to pin this to avoid breaking change in 2.0.0
# https://github.com/executablebooks/jupyter-book/issues/1137
sphinxcontrib-bibtex==1.0.0
sphinxext-rediraffe==0.2.5
sphinx-multitoc-numbering==0.1.1
docopt==0.6.2
linkify-it-py==1.0.1
# numpy
# pandas
# scipy
# seaborn
# folium
# matplotlib
# scikit-learn
# ipywidgets
